.footer {
    &__form {
        max-width: 733px;
        margin: 0 auto;
    }
    background-image: url(/img/backgrnd2.png);
    padding: 70px 0 93px;
    &__input {
        display: block;
    }
    &__title {
        color: #3f4244;
        font-family: "raleway";
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-bottom: 21px;
    }
    &__subtitle {
        color: #3f4244;
        font-family: "raleway";
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        max-width: 705px;
        margin: 0 auto 67px;
    }
    &__input {
        
        width: 100%;
        height: 74px;
        font-size: 24px;
    }
    &__link {
        color: #ee3b33;
        font-family: "raleway";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-decoration: underline;
    }
    &__btn {
        margin: 0 auto 15px;
        width: 284px;
        height: 68px;
        display: block;
        border: none;
        background-color: #ee3b33;
        color: #ffffff;
        font-family: "raleway";
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
}
.row-wrapper {
    margin-bottom: 21px;
    display: grid;
    grid-gap: 0 38px;
    grid-template-columns: 1fr 1fr;
    &.last {
        grid-template-columns: 1fr;
    }
}
.wrapper label,
.row-wrapper.last label {
    margin-bottom: 15px;
    display: block;
    opacity: 0.5;
    color: #3f4244;
    font-family: "raleway";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
#msg {
    resize: none;
    font-size: 16px;
    min-height: 74px;
}
.row-wrapper.last {
    margin-bottom: 33px;
}
.wrapper.check {
    display: flex;
    justify-content: center;
}
.wrapper.add-file {
    align-self: end;
    margin-bottom: 25px;
    & img {
        margin: 0 20px;
    }
}
.footer__text.checkbox {
    margin-left: 12px;
    color: #444444;
    font-family: "raleway";
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    opacity: 1;
}
